SECRET_KEY=django-insecure-%6#z80j+y+5%xy_i%)&ij#_&n@(9-_5a$+e2*iiovnk^ap7z-h
DEBUG=1
DB_ENGINE=django.db.backends.postgresql
DB_NAME=spin_point_db
DB_USER=spin_point
DB_PASSWORD=111
DB_HOST=localhost
DB_PORT=54329