{% extends 'base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block content %}
    <!-- Информация о сайте -->
    <div class="mb-4">
        <h1>О нас</h1>
        <p>
            <span class="logo-font">SpinPoint</span> — это виртуальное пространство, объединяющее любителей настольного тенниса со всего мира. Мы создали эту социальную сеть с целью предоставить платформу для обмена опытом, поиска партнёров по игре, организации турниров и продвижения настольного тенниса.
        </p>
        <p>
            На сайте <span class="logo-font">SpinPoint</span> вы можете находить партнёров для игры, записываться в клубы, участвовать в турнирах и следить за рейтингом игроков. Мы стремимся создать дружественное сообщество, где каждый любитель настольного тенниса найдет интересные возможности для игры и общения.
        </p>
    </div>

    <!-- Цель социальной сети -->
    <div class="mb-4">
        <h3>Цель <span class="logo-font">SpinPoint</span></h3>
        <p>
            Нашей основной целью является сближение поклонников настольного тенниса, создание удобного пространства для поиска соперников и развитие интереса к этому увлекательному виду спорта. Мы стремимся сделать наш сайт местом, где каждый может найти не только партнёра для игры, но и новых друзей, а также расширить свои знания о настольном теннисе.
        </p>
    </div>

    <!-- Что можно делать на сайте -->
    <div class="mb-4">
        <h3>Что можно делать на <span class="logo-font">SpinPoint</span></h3>
        <ul>
            <li>Находить партнёров для игры в настольный теннис в вашем городе.</li>
            <li>Участвовать в турнирах и поднимать свой рейтинг.</li>
            <li>Создавать и присоединяться к клубам для общения и совместной игры.</li>
            <li>Обмениваться опытом и учиться у опытных игроков.</li>
            <li>Находить новых друзей, увлеченных настольным теннисом.</li>
        </ul>
    </div>

    <!-- Контактная информация -->
    <div class="mb-4">
        <h3>Контакты</h3>
        <p>
            Мы всегда открыты для обратной связи и готовы помочь в решении любых вопросов. Свяжитесь с нами по следующим контактам:
        </p>
        <ul>
            <li>Email: info@spinpoint.ru</li>
            <li>Телефон: +375 (XX) XXX-XX-XX</li>
        </ul>
    </div>
{% endblock content %}