{% extends 'base.html' %}
{% load static %}
{% block title %}Правила{% endblock %}
{% block content %}
  <!-- Заголовок страницы -->
    <h1 class="mb-4">Правила</h1>

    <!-- Правила сайта -->
    <div class="mb-4">
        <h2>Правила сайта</h2>
        <p>
            Добро пожаловать на нашу социальную сеть для любителей настольного тенниса! Ниже представлены основные правила использования сайта:
        </p>

    </div>

    <!-- Правила игры в настольный теннис -->
    <div class="mb-4">
        <h2>Правила игры в настольный теннис</h2>
        <p>
            Настольный теннис - захватывающий вид спорта со своими собственными правилами. Ниже представлены основные правила игры:
        </p>
        <ol>
            <li>Игра ведется до 11 очков, но в случае равенства 10:10 продолжается до разницы в два очка.</li>
            <li>Игрок должен ударять мяч так, чтобы он касался своей половины стола, а затем половины стола соперника.</li>
        </ol>
    </div>

{% endblock content %}