{% extends 'base.html' %}
{% load static %}
{% block title %}Результаты игр{% endblock %}
{% block content %}
    <!-- Заголовок страницы -->
    <h1 class="mb-4">Результаты игр</h1>

    <!-- Недавние матчи -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4>Недавние игры</h4>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Mark</td>
              <td>3:2</td>
              <td>Carl</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>1:3</td>
              <td>Ball</td>
            </tr>
            <tr>
              <td>Larry</td>
              <td>3:0</td>
              <td>Jenny</td>
            </tr>
            <tr>
              <td>Mark</td>
              <td>3:2</td>
              <td>Carl</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>1:3</td>
              <td>Ball</td>
            </tr>
            <tr>
              <td>Larry</td>
              <td>3:0</td>
              <td>Jenny</td>
            </tr>
            <tr>
              <td>Mark</td>
              <td>3:2</td>
              <td>Carl</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>1:3</td>
              <td>Ball</td>
            </tr>
            <tr>
              <td>Larry</td>
              <td>3:0</td>
              <td>Jenny</td>
            </tr>
          </tbody>
        </table>
    </div>

    <!-- Последние турниры -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4>Турниры</h4>
        <!-- Пример списка последних турниров -->
        <table class="table table-striped">
          <tbody>
            <tr>
                <th>Название</th>
                <th>Статус</th>
                <th>Победитель</th>
            </tr>
            <tr>
              <td>Универсиада</td>
              <td>начнётся через 5 дней</td>
              <td>ещё не определён</td>
            </tr>
            <tr>
              <td>Зимний Кубок</td>
              <td>идёт</td>
              <td>ещё не определён</td>
            </tr>
            <tr>
              <td>Осенний Чемпионат</td>
              <td>завершён</td>
              <td>Timo Ball</td>
            </tr>
          </tbody>
        </table>
    </div>

    <!-- Фильтры для результатов -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4>Поиск игр</h4>
        <form>
            <div class="mb-3">
                <label for="dateFilter" class="form-label">Дата игры:</label>
                <input type="date" class="form-control" id="dateFilter">
            </div>
            <!-- Другие фильтры -->
            <p>Другие фильтры</p>
            <p>Другие фильтры</p>
            <p>Другие фильтры</p>
            <p>Другие фильтры</p>
            <button type="submit" class="btn btn-secondary">Применить фильтры</button>
        </form>
    </div>

    <!-- Будущие матчи -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4>Предстоящие матчи</h4>
        <!-- Пример списка предстоящих матчей -->
        <p>Ближайший матч: Игрок 10 vs Игрок 11 | Дата: 25 января 2024</p>
        <!-- Заглушки для данных -->
        <p>Еще нет предстоящих матчей</p>
    </div>

        <!-- Краткая статистика -->
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4>Статистика</h4>
        <!-- Пример общей статистики платформы -->
        <p>Всего проведено матчей: 1000</p>
        <!-- Заглушки для данных -->
        <p>Количество участников: 200</p>
    </div>

{% endblock content %}